*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-content: center;
    padding: 20px;
    justify-content: space-between;
}
.nav{
    flex: 1;
    text-align: right;
}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #212F3C;
}
p{
    color: #212121;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    }
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/*------ BUTTON1 ------*/
.button1{
    display: inline-block;
    background: #FF8700;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.button1:hover{
    background: #563434;
}

/*------ BUTTON2 ------*/
.button2 {
    display: inline-block;
    background: #212F3C;
    color: #F9A825;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.button2:hover{
    background: #000623;
}


.header{
    background:
    radial-gradient(
      farthest-side at bottom left,
      #ff8f4f, 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #fff,
      transparent 100px
    );
}

.header .row{
    margin-top: 70px;
}
.categories{
        margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    max-height: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}

.header2{
    background:
    radial-gradient(
      farthest-corner at bottom left,
      #ff6d41, 
      transparent
    ),
    radial-gradient(
        farthest-side at top right,
      rgba(28, 255, 198, 0.253),
      transparent 800px
    );
}

.header3{
    background:
    radial-gradient(
      farthest-corner at bottom right,
      #e7eb2e6c, 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom center,
      #ef3eff6c, 
      transparent
    ),
    radial-gradient(
        farthest-side at top left,
      rgba(52, 255, 204, 0.253),
      transparent 2000px
    );
}

.header4{
    background:
    radial-gradient(
      farthest-corner at top center,
      #ff5cc179, 
      transparent
    ),
    radial-gradient(
        farthest-side at bottom center,
      rgba(255, 223, 135, 0.699),
      transparent 4000px
    );
}

.header5{
    background:
    radial-gradient(
      farthest-side at bottom right,
      #45cfa6a1, 
      transparent 1500px
    ),
    radial-gradient(
      farthest-side at top left,
      #ec7f40a1, 
      transparent 2000px
    ),
    radial-gradient(
      farthest-corner at top left,
      #98d4eca1, 
      transparent 2000px
    ),
    radial-gradient(
        farthest-side at bottom center,
      rgb(124, 168, 21),
      transparent 3000px
    );
}

.header6{
    background:
    radial-gradient(
      farthest-corner at bottom right,
      #e7eb2e6c, 
      transparent 100px
    ),
    radial-gradient(
      farthest-corner at bottom center,
      #ef3eff6c, 
      transparent 500px
    ),
    radial-gradient(
        farthest-side at top left,
      rgba(52, 255, 204, 0.253),
      transparent 1000px
    );
}

.header7{
    background:
    radial-gradient(
      farthest-corner at top left,
      #4fffd9, 
      transparent 250px
    ),
    radial-gradient(
      farthest-corner at top right,
      #4fffd9, 
      transparent 250px
    ),
    radial-gradient(
      farthest-side at bottom left,
      #ff8f4f, 
      transparent 1000px
    ),
    radial-gradient(
      farthest-side at bottom right,
      #ff8f4f, 
      transparent 1000px
    );
}

/*------ small-container ------*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 200px;
    height: 250px;  
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #870000;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #000;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*------ offer ------*/
.offer {
    background: radial-gradient(#f83838, #000);
    margin-top: 0px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #212F3C;
}
.col-2 small {
    color: #ccea09;
}

/*------ brands ------*/
.brands {
    background:
    radial-gradient(
      farthest-side at bottom right,
      #000000, 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom left,
      #352c2c,
      transparent 10000px
    );
    margin: 0px auto;
}
.brands .row{
    margin-top: 0px;
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: space-between;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*------ FOOTER ------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 10px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-5 {
    min-width: 250px;
    margin-bottom: 20px;
}
footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
    padding-bottom: 15px;
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------ Media query for MENU ------*/
@media only screen and (max-width: 800px){
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
    color: #fff
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/*------ All Product PAGE ------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-2 p{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #8a8a8a;
}
select {
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-button{
    margin: 0 auto 80px;
}
.page-button span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-button span:hover{
    background: #ff523b;
    color: #fff;
}
/*------ single product details ------*/

.single-product{
    margin-top: 60px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 0px;
}
.single-product h4{
      margin: 20px 0;
      font-size: 22px;
      font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
} 
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/*------ small-container CART ------*/
.small-container-cart {
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/*------ cart items ------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #FF8700;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a {
    color: #ffa640;
    font-size: 12px;
} 
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #FF8700;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*------ account-page ------*/

.account-page {
    padding: 50px 0;
    background:
    radial-gradient(
      farthest-side at bottom left,
      #ccea09, 
      transparent 1000px
    ),
    radial-gradient(
      farthest-corner at top right,
      #008776,
      transparent 2000px
    );
}
.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px #F9A825;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form button{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
.form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .button{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .button{
    outline: none;
}
#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(150px);
    transition: transform 1s;
}



/*------ index.html ------*/
body {
    background: #eee;
}

img {
    border-radius: 10%;
  }

#frm {
    border: solid gray 1px;
    width: 25%;
    border-radius: 2px;
    margin: 120px auto;
    background: white;
    padding: 50px;
}

#btn {
    color: #fff;
    background: #337ab7;
    padding: 7px;
    margin-left: 70%;
}  


/* products(new) style */
.product_wrapper {
	float:left;
	padding: 10px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}
.product_wrapper .buy {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.product_wrapper .buy:hover {
    background: #ff523b;
    color: #fff;
}
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 10px;
	}
.cart
{max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: #F68B1E;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}
.product_wrapper .image{
    width: 400px;
    height: auto;
}



.button3{
    /* display: inline-block;
    background: #FF8700;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5s; */
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 30px;
    background:
       radial-gradient(
      farthest-side at bottom left,
      #6200ff, 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #FF8700,
      transparent 1000px
    );
}
.button3:hover{
    background: #563434;
}

/* Zoom image TEST*/
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}






/*------ Media query for less than 600 screen size ------*/
@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }
    .col-1, .cal-2, .col-5{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 30px;
    }
    .cart-info p{
        display: none;
    }
}